

body:not(.voltar) {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    
}

.margem{
    text-align: center;
    background-color: #3e5db4;
    border-top: 20px solid #3e5db4;
    border-right: 30px solid #3e5db4;
    border-bottom: 20px solid #3e5db4;
    border-left: 30px solid #3e5db4;
}

.voltar{
    font-size: 13px;
}

.proximo{
    margin-left: 20px;
    font-size: 13px;
}




.text-container {
    
    background-image: url('imagens/cidades/bertioga.jpg'); 
    background-size: cover;
    background-position: center;
    color: white; 
    text-align: center;
    padding: 9%;
    
}

.text-container h1{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 36px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

.text-container p{
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10%;
    margin-right: 10%;
}

h3, h2, p{
    margin-left: 3%;
    margin-right: 3%;
    }

h3{
    margin-top: 30px;
    margin-bottom: 20px;
}



a {
    text-decoration: none;
    font-size: 12px; /* Tamanho da fonte inicial */
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    color: #000; /* Cor do texto normal */
}

a:hover {
    transform: scale(1.1); /* Aumenta o tamanho em 10% */
    color: #ffffff; /* Cor do texto ao passar o mouse */
    font-size: 15px; /* Tamanho da fonte ao passar o mouse */
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
