

body:not(.voltar) {
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
}

.margem{
    text-align: center;
    background-color: #3e5db4;
    border-top: 20px solid #3e5db4;
    border-right: 30px solid #3e5db4;
    border-bottom: 20px solid #3e5db4;
    border-left: 30px solid #3e5db4;
}

.voltar{
    font-size: 13px;
}

.proximo{
    margin-left: 20px;
    font-size: 13px;
}




.text-container {
    
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url('imagens/cidades/bertioga.jpg'); 
    background-size: cover;
    background-position: center;
    color: white; 
    text-align: center;
    padding: 9%;
    
}

.text-container h1{
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 36px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
}

.text-container p{
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 10%;
    margin-right: 10%;
}

    h2{
        font-size: 40px;
        text-align: center;
        text-decoration: underline rgb(18, 27, 150);
    }


h3{
    margin-top: 40px;
    margin-bottom: 20px;
}



a {
    text-decoration: none;
    font-size: 12px;
    position: relative;
    transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    color: #000; 
}

a:hover {
    transform: scale(1.1); 
    color: #ffffff;
    font-size: 16px;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform: scaleX(0); 
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.conf{
    display: flex;
    align-items: center;
}

.conf img{
    max-width: 43%; 
    margin-right: 20px;
    margin-left: 20px;
}

.conftexto{
    flex: 1; 
    margin-right: 5px;
    margin-left: 5px;
}

.conftexto p{
    font-size: 15px;
}

.ultimo{
    margin-bottom: 10%;
}


